<div class="flex-wrapper">
  <app-header></app-header>
  <body>
    <div class="info-block">
      <div class="block1">
        <h1>About me</h1>
        <ul>
          <li>Kenyan</li>
          <li>June 1997</li>
          <li>Nairobi</li>
          <li>English</li>
          <li>Kiswahili</li>
          <li>German</li>
        </ul>
      </div>
      <div class="block2">
        <h1>Languages</h1>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Typescript</li>
          <li>Java</li>
          <li>Dart</li>
          <li>Python</li>
        </ul>
      </div>
      <div class="block3">
        <h1>Frameworks</h1>
        <ul>
          <li>Angular</li>
          <li>Flutter</li>
          <li>Spring</li>
          <li>PostgreSQL</li>
        </ul>
      </div>
    </div>
    <div class="current-place">
      <p>Currently at Technovation Ventures Ltd.</p>
    </div>
    <a
      href="https://drive.google.com/file/d/1vMYkYDB5jSX4_uGEKMjASaamZJU-F-X5/view?usp=sharing"
      target="_blank"
      >My Resume ↗</a
    >
  </body>
  <app-footer></app-footer>
</div>
