    <!-- Languages -->
    <div class="flex gap-2 mb-8 md:mb-16 flex-wrap items-center justify-center">
        <div class="relative inline-block">
          <img
            class="w-8 h-8 md:w-10 md:h-10 z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            src="assets/java.svg"
            alt="Java Programming Language"
          />
          <svg
            class="w-16 h-16 md:w-20 md:h-20"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 511.998 511.998"
            xml:space="preserve"
            fill="#000000"
          ></svg>
          <svg class="absolute top-0 left-0 w-full h-full" viewBox="0 0 36 36">
            <path
              class="java-progress-bar stroke-primary-600 fill-none"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
          </svg>
        </div>
        <div class="relative inline-block">
          <img
            class="w-8 h-8 md:w-10 md:h-10 z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            src="assets/python.svg"
            alt="Python Programming Language"
          />
          <svg
            class="w-16 h-16 md:w-20 md:h-20"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 511.998 511.998"
            xml:space="preserve"
            fill="#000000"
          ></svg>
          <svg class="absolute top-0 left-0 w-full h-full" viewBox="0 0 36 36">
            <path
              class="python-progress-bar stroke-primary-600 fill-none"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
          </svg>
        </div>
        <div class="relative inline-block">
          <img
            class="w-8 h-8 md:w-10 md:h-10 z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            src="assets/ts.svg"
            alt="TypeScript Programming Language"
          />
          <svg
            class="w-16 h-16 md:w-20 md:h-20"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 511.998 511.998"
            xml:space="preserve"
            fill="#000000"
          ></svg>
          <svg class="absolute top-0 left-0 w-full h-full" viewBox="0 0 36 36">
            <path
              class="ts-progress-bar stroke-primary-600 fill-none"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
          </svg>
        </div>
        <div class="relative inline-block">
          <img
            class="w-8 h-8 md:w-10 md:h-10 z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            src="assets/dart.svg"
            alt="Dart Programming Language"
          />
          <svg
            class="w-16 h-16 md:w-20 md:h-20"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 511.998 511.998"
            xml:space="preserve"
            fill="#000000"
          ></svg>
          <svg class="absolute top-0 left-0 w-full h-full" viewBox="0 0 36 36">
            <path
              class="dart-progress-bar stroke-primary-600 fill-none"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
          </svg>
        </div>
      </div>
      <!-- Frameworks -->
      <div class="flex gap-2 mb-8 md:mb-16 flex-wrap items-center justify-center">
        <div class="relative inline-block">
          <img
            class="w-8 h-8 md:w-10 md:h-10 z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            src="assets/angular.svg"
            alt="Angular Framework"
          />
          <svg
            class="w-16 h-16 md:w-20 md:h-20"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 511.998 511.998"
            xml:space="preserve"
            fill="#000000"
          ></svg>
          <svg class="absolute top-0 left-0 w-full h-full" viewBox="0 0 36 36">
            <path
              class="angular-progress-bar stroke-primary-600 fill-none"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
          </svg>
        </div>
        <div class="relative inline-block">
          <img
            class="w-8 h-8 md:w-10 md:h-10 z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            src="assets/react.svg"
            alt="React Library"
          />
          <svg
            class="w-16 h-16 md:w-20 md:h-20"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 511.998 511.998"
            xml:space="preserve"
            fill="#000000"
          ></svg>
          <svg class="absolute top-0 left-0 w-full h-full" viewBox="0 0 36 36">
            <path
              class="react-progress-bar stroke-primary-600 fill-none"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
          </svg>
        </div>
        <div class="relative inline-block">
          <img
            class="w-8 h-8 md:w-10 md:h-10 z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            src="assets/flutter.svg"
            alt="Flutter Framework"
          />
          <svg
            class="w-16 h-16 md:w-20 md:h-20"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 511.998 511.998"
            xml:space="preserve"
            fill="#000000"
          ></svg>
          <svg class="absolute top-0 left-0 w-full h-full" viewBox="0 0 36 36">
            <path
              class="flutter-progress-bar stroke-primary-600 fill-none"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
          </svg>
        </div>
        <div class="relative inline-block">
          <img
            class="w-8 h-8 md:w-10 md:h-10 z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            src="assets/spring.svg"
            alt="Spring Framework"
          />
          <svg
            class="w-16 h-16 md:w-20 md:h-20"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 511.998 511.998"
            xml:space="preserve"
            fill="#000000"
          ></svg>
          <svg class="absolute top-0 left-0 w-full h-full" viewBox="0 0 36 36">
            <path
              class="spring-progress-bar stroke-primary-600 fill-none"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
          </svg>
        </div>
        <div class="relative inline-block">
          <img
            class="w-8 h-8 md:w-10 md:h-10 z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            src="assets/vue.svg"
            alt="Vue Framework"
          />
          <svg
            class="w-16 h-16 md:w-20 md:h-20"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 511.998 511.998"
            xml:space="preserve"
            fill="#000000"
          ></svg>
          <svg class="absolute top-0 left-0 w-full h-full" viewBox="0 0 36 36">
            <path
              class="vue-progress-bar stroke-primary-600 fill-none"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
          </svg>
        </div>
        <div class="relative inline-block">
          <img
            class="w-8 h-8 md:w-10 md:h-10 z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
            src="assets/flask.svg"
            alt="Flask Framework"
          />
          <svg
            class="w-16 h-16 md:w-20 md:h-20"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 511.998 511.998"
            xml:space="preserve"
            fill="#000000"
          ></svg>
          <svg class="absolute top-0 left-0 w-full h-full" viewBox="0 0 36 36">
            <path
              class="flask-progress-bar stroke-primary-600 fill-none"
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
          </svg>
        </div>
      </div>