<div class="flex-wrapper">
  <app-header></app-header>
  <body class="body">
    <h1>Websites</h1>
    <div class="carousel-block">
      <div class="sample">
        <img src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="Image of HTML code" class="sample-img" />
        <div class="sample-text">
          <h2>Omnifood</h2>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
          </ul>
        </div>
      </div>
      <div class="sample">
        <img src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="Image of HTML code" class="sample-img" />
        <div class="sample-text">
          <h2>Omnifood</h2>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
          </ul>
        </div>
      </div>
    </div>
    <h1>Web Applications</h1>
    <div class="carousel-block">
      <div class="sample">
        <img src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="Image of HTML code" class="sample-img" />
        <div class="sample-text">
          <h2>Omnifood</h2>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
          </ul>
        </div>
      </div>
      <div class="sample">
        <img src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="Image of HTML code" class="sample-img" />
        <div class="sample-text">
          <h2>Omnifood</h2>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
          </ul>
        </div>
      </div>
    </div>
    <h1>Mobile Apps</h1>
    <div class="carousel-block">
      <div class="sample">
        <img src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="Image of HTML code" class="sample-img" />
        <div class="sample-text">
          <h2>Omnifood</h2>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
          </ul>
        </div>
      </div>
      <div class="sample">
        <img src="https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="Image of HTML code" class="sample-img" />
        <div class="sample-text">
          <h2>Omnifood</h2>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <app-footer></app-footer>
</div>
